
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment variables
.env
yml.txt
bin.txt

# Resume directory
/Resume/Gowtham R Resume.pdf

